﻿
<footer>
    <div class="row">
        <div class="col-md-4 col-sm-6 footer-navigation">
            <h3><a href="#">Gadget<span>Store </span></a></h3>
            <p class="links"><a href="#">Home</a><strong> · </strong><a href="#">Pricing</a><strong> · </strong><a href="#">About</a><strong> · </strong><a href="#">Contact</a></p>
            <p class="company-name">GadgetStore © 2017 </p>
        </div>
        <div class="col-md-4 col-sm-6 footer-contacts">
            <div>
                <span class="fa fa-map-marker footer-contacts-icon"></span>
                <p><span class="new-line-span">21 Revolution Street</span> Paris, France</p>
            </div>
            <div>
                <i class="fa fa-phone footer-contacts-icon"></i>
                <p class="footer-center-info email text-left">+1 555 123456</p>
            </div>
            <div>
                <i class="fa fa-envelope footer-contacts-icon"></i>
                <p><a href="#" target="_blank">support@gadgetstore.com</a></p>
            </div>
        </div>
        <div class="col-md-4 footer-about">
            <h4>About Gadget Store</h4>
            <p>A collection of the latest devices for exchange in the open market.</p>
            <div class="social-links social-icons"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-linkedin"></i></a><a href="#"><i class="fa fa-github"></i></a></div>
        </div>
    </div>
</footer>