﻿    <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Gadget Exchange</title>
<link rel="stylesheet" href="~/Content/bootstrap.min.css">
<link rel="stylesheet" href="~/Content/font-awesome.min.css">
<link rel="stylesheet" href="~/Content/font-awesome.css" />
<link rel="stylesheet" href="~/Content/bootstrap-social.css">
<link rel="stylesheet" href="~/Content/Pretty-Header.css">
<link rel="stylesheet" href="~/Content/Pretty-Footer.css">
<link rel="stylesheet" href="~/Content/Material-Card.css">
<link rel="stylesheet" href="~/Content/thumbnail-gallery.css">
<link rel="stylesheet" href="~/Content/product-list-basic.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cookie">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.css">
<link rel="stylesheet" href="~/Content/Custom.css">
<link rel="stylesheet" href="~/Content/sweetalert.css" />
