﻿<nav class="navbar navbar-default custom-header">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand navbar-link" href="#">Gadget<span>Exchange </span></a>
            <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav links">
                <li role="presentation"><a href="#">Gadget </a></li>
                <li role="presentation"><a href="#">Subscriptions </a></li>
                <li role="presentation"><a href="#">Reports</a></li>
                <li role="presentation"><a href="#" class="custom-navbar">Upgrades<span class="badge">new</span></a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    @Html.Partial("_LoginPartial")
                </li>
            </ul>
        </div>
    </div>
</nav>
