<div class='panel panel-primary' *ngIf='gadget'>
    <div class='panel-heading'> update
        {{gadget.Name}}
    </div>
    <div class='panel-body'>
        <div class='row'>
            <div class='col-md-6'>
            <div class='row'>
              <div class='col-md-3'>Id:</div>
              <div class='col-md-6'>{{gadget.Id }}</div>
            </div>
            <div class='row'>
              <div class='col-md-3'> Name:</div>
              <div class='col-md-6'>
                <input type='text'
                 [(ngModel)]='gadget.Name'/>
              </div>
            </div>
              <div class='row'>
                <div class='col-md-3'>Description:</div>
                <div class='col-md-6'>
                  <textarea id="textareaEdit"
                    rows="10" 
                    cols="35"
                  [(ngModel)]="gadget.Description"></textarea>
                </div>        
              </div>
              <div class='row'>
                <div class='col-md-3'>Reviews:</div>
                <div class='col-md-6'>{{gadget.ReviewsCount}}</div>
              </div>
              <div class='row'>
                <div class='col-md-3'></div>
                <div class='col-md-6'>
                   <a class='btn btn-default btn-primary' 
                       (click)='Update()'
                       style='width:80px'>
                      <i class='glyphicon glyphicon-floppy-disk'></i>
                    Update
                  </a>
                </div>
              </div>
            </div>
            <div class='col-md-6'>
                <img class='center-block img-responsive' 
                     [style.width.px]='450' 
                     [style.margin.px]='2' 
                     [src]='gadget.ImagePath'>
            </div>
        </div>
    </div>
    <div class='panel-footer'>
        <a class='btn btn-default' (click)='onBack()' style='width:80px'>
            <i class='glyphicon glyphicon-chevron-left'></i> Back
        </a>
    </div>
</div>