﻿<div class="panel panel-primary">
    <div class="panel-heading">
        {{pageTitle}}
    </div>
  <div class="panel-body">
    <br /><br/>
    <div class="row">
      <div class="text-center">Gadget Exchange:</div>
      <h3 class="text-center">Check out <a [routerLink]="['/gadgets']">Market</a>
      </h3>
      <br/><br/>
    </div>
    <div class="row">
      <div class="text-center">Developed by:</div>
      <h3 class="text-center">Haithem Araissia</h3>
      <br/>
    </div>
  </div>
</div>