<div class='panel panel-primary' *ngIf='gadget'>
    <div class='panel-heading'> Delete
        {{gadget.Name}}
    </div>
    <div class='panel-body'>
        <div class='row'>
            <div class='col-md-6'>
                <div class='row' >
                  <h3><span class="label label-success">WoooW</span> Relax. This is a prototype :)</h3>
                </div> 
            </div>
            <div class='col-md-6'>
                <img class='center-block img-responsive' 
                     [style.width.px]='420' 
                     [style.margin.px]='2' 
                     [src]='gadget.ImagePath'>
            </div>
        </div>
    </div>
    <div class='panel-footer'>
        <a class='btn btn-default' (click)='onBack()' style='width:80px'>
            <i class='glyphicon glyphicon-chevron-left'></i> Back
        </a>
    </div>
</div>