﻿@model GadgetExchange.Models.ExternalLoginListViewModel
@using Microsoft.Owin.Security

@{
    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
    if (loginProviders.Count() == 0)
    {
        <div>
            <p>
                There are no external authentication services configured. See <a href="http://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                for details on setting up this ASP.NET application to support logging in via external services.
            </p>
        </div>
    }
    else
    {
        using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = Model.ReturnUrl }))
        {
            @Html.AntiForgeryToken()
            <div id="socialLoginList">
                <p>
                    @foreach (AuthenticationDescription p in loginProviders)
                    {
                        <button class="btn btn-block btn-social btn-md btn-@p.Caption.ToLower()" type="submit" id="@p.AuthenticationType"
                                name="provider" value="@p.AuthenticationType">
                            @if (p.Caption.ToLower() == "microsoft")
                            {
                                <span class="fa fa-windows"></span>
                            }
                            else
                            {
                                <span class="fa fa-@p.Caption.ToLower()"></span>
                            }
                            Sign in with @p.Caption
                        </button>
                    }
                </p>
            </div>
        }
    }
}
