﻿<!DOCTYPE html>
<html>
<head>
    @{Html.RenderPartial("Common/_Header");}
    @*@Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")*@
</head>
<body>
    @{Html.RenderPartial("Common/_Menu");}
    <div class="container gallery-container">
        <h1>
            Mar<span style="color: black">Ket</span>
        </h1>
        @RenderBody()
    </div>
    @{Html.RenderPartial("Common/_Footer");}
    @{Html.RenderPartial("Common/_Scripts");}

    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")*@
    @RenderSection("scripts", required: false)
</body>
</html>
