﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()
        <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false" href="#">
            <span class="caret"></span>
            <img src="~/assets/img/avatar.jpg" class="dropdown-image">
        </a>
        <ul class="dropdown-menu dropdown-menu-right" role="menu">
        <li id ="Greeting">
            @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage"})
        </li>
        <li role="presentation"><a href="#">Settings </a></li>
        <li role="presentation"><a href="#">Payments </a></li>
        <li role="presentation"><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
