<div class='panel panel-primary' *ngIf='gadget'>
    <div class='panel-heading'>
        {{gadget.Name}}
    </div>
    <div class='panel-body'>
        <div class='row'>
            <div class='col-md-6'>
                <div class='row'>
                    <div class='col-md-3'>Name:</div>
                    <div class='col-md-6'>{{gadget.Name}}</div>
                </div>
                <div class='row'>
                    <div class='col-md-3'>Id:</div>
                    <div class='col-md-6'>{{gadget.Id}}</div>
                </div>
                <div class='row'>
                    <div class='col-md-3'>Description:</div>
                    <div class='col-md-6'>{{gadget.Description}}</div>
                </div>
                <div class='row'>
                    <div class='col-md-3'>Reviews</div>
                    <div class='col-md-6'>{{gadget.ReviewsCount}}</div>
                </div>
            </div>
            <div class='col-md-6'>
                <img class='center-block img-responsive' 
                     [style.width.px]='200' 
                     [style.margin.px]='2' 
                     [src]='gadget.ImagePath'>
            </div>
        </div>
    </div>
    <div class='panel-footer'>
        <a class='btn btn-default' (click)='onBack()' style='width:80px'>
            <i class='glyphicon glyphicon-chevron-left'></i> Back
        </a>
    </div>
</div>