﻿@model IEnumerable<GadgetExchange.Models.Extension.Statu>
<div class="dropdown">
    <button class="btn btn-default dropdown-toggle" id="featureButton" data-toggle="dropdown" aria-expanded="false" type="button">Features <span class="caret"></span></button>
    <ul class="dropdown-menu" role="menu">
        @foreach (var item in Model.ToList())
        {
            <li role="presentation">
                <a href="#" data-item="@item.Id">@item.Description</a>
            </li>
        }
    </ul>
</div>