
    .fa-heart:before {
     content: "\f004";
     color: red;
 }

.fa-heart-not:before {
    content: "\f004";
    color: #777;
}

button.btn.btn-default.dropdown-toggle {
    background-color: #5383d3;
    background-image: none;
    color: white;
}

.open > .dropdown-toggle.btn-default:focus, .open > .dropdown-toggle.btn-default:hover {
    color: white;
    background-color: #0f0f0f;
    border-color: white;
}
