<div class='panel panel-primary'>
    <div class='panel-heading'>
        {{pageTitle}}
    </div>
    <div class='panel-body'>
        <div class='row'>
            <div class='col-md-2'>Filter by:</div>
            <div class='col-md-4'>
                <input type='text' [(ngModel)]='listFilter' />
            </div>
        </div>
        <div class='row'>
            <div class='col-md-6'>
                <h3>Filtered by: {{listFilter}} </h3>
            </div>
        </div>
        <div class='table-responsive'>
            <table class='table'
                    *ngIf='gadgets && gadgets.length'>
                <thead>
                    <tr> 
                      <th></th>
                      <th>Item</th>
                      <th>Description</th>
                      <th>Reviews</th>
                      <th>Cost</th>
                      <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let gadget of filteredgadgets'>
                      <td>
                        <img 
                             [src]='gadget.ImagePath'
                             [style.width.px]='50'
                             [style.margin.px]='50'>
                      </td>
                      <td><a [routerLink]="['/gadgets', gadget.Id]">
                          {{ gadget.Name }}
                        </a>
                      </td>
                      <td>
                        {{ gadget.Description }}
                      </td>
                      <td>
                        {{ gadget.ReviewsCount }}
                      </td>
                      <td>
                        {{ gadget.Cost }}
                      </td>                 
                      <td>
                        <p data-placement="top" data-toggle="tooltip" title="Edit">
                          <button class="btn btn-primary btn-xs" [routerLink]="['/gadgetUpdate', gadget.Id]">
                            <span class="glyphicon glyphicon-pencil">
                            </span>
                          </button>
                        </p>
                      </td>
                      <td>
                        <p data-placement="top" data-toggle="tooltip" title="Delete">
                          <button class="btn btn-danger btn-xs" [routerLink]="['/gadgetDelete', gadget.Id]">
                            <span class="glyphicon glyphicon-trash"></span>
                          </button>
                        </p>
                      </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div *ngIf='errorMessage' class='alert alert-danger'>
  Error: {{ errorMessage }}
</div>

