﻿@model PagedList.IPagedList<Gadget>
@using PagedList.Mvc;
@using GadgetExchange.Models.Extension
<div class="tz-gallery">
    <div class="row">
        @Html.Action("StatusSelection")
        <ul class="product-list-basic">
            @foreach (var item in Model.ToList())
            {
                <li>
                    <a href="@item.ImagePath" class="lightbox product-photo">
                        <img src="@item.ImagePath" height="130" alt="@item.Name" />
                    </a>
                    <h2>
                        <a href="#">@item.Name</a>
                    </h2>
                    <a href="#" class="product-compare">
                        @{
                            var favoriteCss = item.StatusId == Status.Favorite ? "fa fa-heart" : "fa fa-heart-not";
                            <i class="@favoriteCss" aria-hidden="true"  data-item="@item.Id"></i>
                        }
                    </a>
                    <div class="product-rating">
                        <div>
                            <span class="product-stars" style="width: 60px">
                                <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                            </span>
                        </div>
                        <span><a href="#">@item.ReviewsCount reviews</a></span>
                    </div>
                    <p class="product-description">@item.Description</p>
                    @if (item.StatusId == Status.Mine)
                    {
                        <span class="product-out-of-stock">Out of stock</span>
                        <button class="setPrice" style="float: right">Set Price</button>
                    }
                    else if (item.StatusId == Status.Queued)
                    {
                        <span class="product-out-of-stock">Out of stock</span>
                        <button class="queue" style="float: right">Queue It!</button>
                    }
                    else
                    {
                        <button class="rent" data-item="@item.Cost">Rent</button>
                        <button class="exchange" style="float: right">Exchange</button>
                    }
                </li>
           }
        </ul>
    </div>
    @{
        ViewBag.Filter = Request.QueryString["f"];
    }
    <div class="row text-center">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page, filter = Request.QueryString["filter"] }))
    </div>
</div>